body {
    min-width: 415px;
}

.terminal-cursor {
    color: #000;
    background: #ffffff;
}

.row-main {
    background-color: #292c37;
}

#terminal {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    background-color: #000000;
    color: #cccccc;
    padding-left: 0px;
    padding-right: 0px;
}

#instructions {
    color: #ffffff;
}

#instructions p, #instructions ul {
    font-size: 16px;
    margin-left: 70px;
    margin-bottom: 30px;
}

#instructions ul li{
    margin-bottom: 20px;
}

#instructions > * {
    margin-left: 20px;
    margin-right: 20px;
}

#instructions > div > h2 {
    margin-left: 20px;
    margin-right: 20px;
}

#instructions .label {
    color: #292C37;
    background-color: #FFF;
}

#row-navbar {
    font-size: 20px;
    margin-top: 10px;
}

#row-navbar * {
    color: #FFF;
    display: inline;
}

#row-navbar a:hover {
    color: #FFF;
    background: inherit;
}

#row-navbar a:focus {
    color: #FFF;
    background: inherit;
}

.bordered {
    border-style:solid;
    border-width:4px;
    border-radius: 3px;
}

/*++++++++++++++++++++++++++ Bootstrap overrides +++++++++++++++++++++++++++++*/

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #9f111b;
}

.pagination {
    margin: 10px;
}

.row {
    margin: 0px;
}