{% extends "base.html" %}

{% block title %}Task 1{% end %}
{% block navigation %}
Task 1: Introduction
<a href="/2/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    <a href="http://ipython.org" target="_blank">IPython</a> is a rich python shell
    designed for interactive and exploratory computing.
</p>
<p>
    This tutorial will guide you through the main features of IPython:
    <ul>
        <li>User extensible magic commands</li>
        <li>Parallelization</li>
        <li>Customization</li>
    </ul>
</p>
<p>
    Each task consists of several goals you have to achieve in order to
    proceed.
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Some OS shell commands are available. Explore the file system using
            well known commands like:
            <span class="label label-default">cd</span>
            <span class="label label-default">ls</span>
            <span class="label label-default">cat</span>
        </li>
        <li id="goal2">
            Discover which OS the IPython is running on
        </li>
    </ul>
</div>
{% end %}

{% block script %}
app.victoryConditions = {
    conditions: [
        {
            condition: [
                app.matchInput('cd\\s.*|cd$'),
                app.matchInput('ls\\s.*|ls$'),
                app.matchInput('cat\\s.*')
            ],
            postCondition: function() {$('#goal1').css('display', 'none')},
        },
        {
            condition: app.rowContains('Ubuntu|ubuntu'),
            postCondition: function() {$('#goal2').css('display', 'none')}
        }
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}