{% extends "base.html" %}

{% block title %}Task 2{% end %}
{% block navigation %}
<a href="/1/">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Task 2: Help and introspection
<a href="/3/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    IPython enables easy access to modules' documentation. Type
    <span class="label label-default">help('module_name')</span>
    to display the docs e.g.
    <span class="label label-default">help('math')</span>.
    You can exit the documentation by pressing 'q'.
</p>
<p>
    Type <span class="label label-default">help()</span> to enter Python's
    help system.
</p>
<p>
    You can introspect an object by typing
    <span class="label label-default">?object_name</span> or
    <span class="label label-default">object_name?</span>
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Access documentation of abc module
        </li>
        <li id="goal2">
            Define a string object 'a'
            <span class="label label-default">a = 'something'</span> and
            introspect it
        </li>
    </ul>
</div>
{% end %}

{% block script %}
app.victoryConditions = {
    conditions: [
        {
            condition: app.matchInput("help\\(('|\")abc('|\")\\)"),
            postCondition: function() {$('#goal1').css('display', 'none')}
        },
        {
            condition: [
                app.matchInput("a\\s*=\\s*('|\").*('|\")$"),
                app.matchInput("a\\?{1,2}$|\\?{1,2}a$"),
            ],
            postCondition: function() {$('#goal2').css('display', 'none')},
            ordered: true
        }
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}