{% extends "base.html" %}

{% block title %}Task 3{% end %}
{% block navigation %}
<a href="/2/">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Task 3: Navigation
<a href="/4/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    Navigation in IPython is significantly improved comparing to standard
    Python shell. Full history, including issued commands and their results,
    is available to the user.
</p>
<p>
    <ul>
        <li>Use up/down arrows to navigate between historical commands</li>
        <li>
            <span class="label label-default">history</span>
            displays full command history. You can pick only particular
            commands by
            <span class="label label-default">history x y z</span>
            or slices
            <span class="label label-default">history x:y</span>
        </li>
        <li>Command results can be accessed by
            <span class="label label-default">_number</span><br>
            <span class="label label-default">_i, _ii, _ii</span>
             are shortcuts for accessing three previous results
        </li>
    </ul>
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Inspect history object to learn more...
        </li>
        <li id="goal2">
            Run a builtin function and redisplay it's result using _x syntax
        </li>
        <li id="goal3">
            Examine the history
        </li>
    </ul>
</div>
{% end %}

{% block script %}
app.victoryConditions = {
    conditions: [
        {
            condition: app.matchInput("\\?{1,2}history$|history\\?{1,2}$"),
            postCondition: function() {$('#goal1').css('display', 'none')}
        },
        {
            condition: [
                app.matchOutput(".*"),
                app.matchIO("_i{1,3}$|_\\d+$", ".*"),
            ],
            postCondition: function() {$('#goal2').css('display', 'none')},
            ordered: true
        },
        {
            condition: app.matchInput("history$|history\\s\\d"),
            postCondition: function() {$('#goal3').css('display', 'none')}
        },
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}