{% extends "base.html" %}

{% block title %}Task 4{% end %}
{% block navigation %}
<a href="/3/">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Task 4: Timing
<a href="/5/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    One of IPython magic capabilities is timing the code execution.<br>
    Use <span class="label label-default">%time x</span> function to measure
    execution time of a single statement. For multiple statements
    <span class="label label-default">%%time</span> will work fine.<br>
</p>
<p>
    Results of single <span class="label label-default">%time</span> runs
    will vary greatly. To mitigate the influence of external factors use
    <span class="label label-default">%timeit</span>.
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Define a function named 'test' and time it's single run
        </li>
        <li id="goal2">
            Use <span class="label label-default">%timeit</span> to compare the
            performance of generator expressions and
            <span class="label label-default">map</span> function. Measure
            the average execution time of computing square roots of integers
            from 0..99<br>
            <span id="tip-trigger" class="label label-default">tip</span>
            <div id="tip-info" style="display:none;">
                <span class="label label-default">
                    %timeit list((x*x for x in range(100)))
                </span>
                <br>
                <span class="label label-default">
                    %timeit list(map(lambda e: e*e, range(100)))
                </span>
            </div>
        </li>
    </ul>
</div>
{% end %}

{% block script %}
var goal2todo = 2;

$("#tip-trigger").on({
    mouseenter: function () {
        $(this).css({
            cursor: "pointer"
        });
    },
    click: function () {
        $('#tip-info').css('display', 'block');
        $(this).css('display', 'none');
    }
});


app.victoryConditions = {
    conditions: [
        {
            condition: [
                app.matchInput("def\\s*test\\s*\\(.*\\):"),
                app.matchInput("%{0,1}time\\s*test\\s*\\(.*\\)$"),
                app.rowContains("CPU\\stimes:")
            ],
            postCondition: function() {$('#goal1').css('display', 'none')},
            ordered: true
        },
        {
            condition: [
                app.matchInput("%{0,1}timeit.+\\(\\s*[a-z09]+\\s*\\*\\s*[a-z09]+\\s+for\\s+[a-z09]+\\s+in\\s+range\\(100\\)\\)"),
                app.rowContains("best\\sof\\s3")
            ],
            postCondition: function() {
                goal2todo = goal2todo - 1;
                if (goal2todo == 0)
                {
                    $('#goal2').css('display', 'none')
                }
            },
            ordered: true
        },
        {
            condition: [
                app.matchInput("%{0,1}timeit.+map\\s*\\(.*:.*,\\s*range\\(100\\)\\)"),
                app.rowContains("best\\sof\\s3")
            ],
            postCondition: function() {
                goal2todo = goal2todo - 1;
                if (goal2todo == 0)
                {
                    $('#goal2').css('display', 'none')
                }
            },
            ordered: true
        }
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}