{% extends "base.html" %}

{% block title %}Task 5{% end %}
{% block navigation %}
<a href="/4/">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Task 5: Scripts
<a href="/6/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    IPython has builtin support for script edition, execution, profiling and
    debugging. <span class="label label-default">%edit</span> is a magic
    function which opens the default text editor and allows to write a script.
    <br>
    <span class="label label-default">%run</span> executes the script and brings
    all the variables into the IPython namespace.
    <span class="label label-default">%run</span> also allows profiling and
    debugging.
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Create your own script using magic function
        </li>
        <li id="goal2">
            Use help system to familiarize yourself with
            <span class="label label-default">%run</span> arguments
        </li>
        <li id="goal3">
            Profile the script
        </li>
        <li id="goal4">
            Run the script in debugger
        </li>
    </ul>
</div>
{% end %}

{% block script %}
app.victoryConditions = {
    conditions: [
        {
            condition: app.matchInput("%{0,1}edit"),
            postCondition: function() {$('#goal1').css('display', 'none')}
        },
        {
            condition: app.matchInput("\\?{1,2}%{0,1}run$|%{0,1}run\\?{1,2}$"),
            postCondition: function() {$('#goal2').css('display', 'none')}
        },
        {
            condition: app.matchInput("%{0,1}run\\s+-p\\s+.*$"),
            postCondition: function() {$('#goal3').css('display', 'none')}
        },
        {
            condition: app.matchInput("%{0,1}run\\s+-d\\s+.*$"),
            postCondition: function() {$('#goal4').css('display', 'none')}
        }
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}