{% extends "base.html" %}

{% block title %}Task 6{% end %}
{% block navigation %}
<a href="/5/">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Task 6: Macros
<a href="/7/">
    <span class="glyphicon glyphicon-arrow-right"></span>
</a>
{% end %}

{% block instructions %}
<h2>
<span class="glyphicon glyphicon-home"> Description</span>
</h2>
<p>
    Macros store one or more lines of code inside a variable. Macros are
    created through the <span class="label label-default">%macro</span>
    function from previous lines of code. You can select particular lines by
    <span class="label label-default">%macro l1 l2 .. ln</span> or line
    ranges <span class="label label-default">%macro ln:lm</span>
</p>
<p>
    Macros can be stored in memory for interactive re execution, persisted
    in per-profile db via <span class="label label-default">%store</span>,
    saved <span class="label label-default">%save</span> and loaded
    <span class="label label-default">%load</span> from a file.
</p>
<div class="bordered">
    <h2>
    <span id="goals" class="glyphicon glyphicon-ok"> Goals</span>
    </h2>
    <ul>
        <li id="goal1">
            Create and run a macro named 'zen' printing the Zen of Python
            <span id="tip-trigger" class="label label-default">tip</span>
            <div id="tip-info" style="display:none;margin: 5px;">
                <p>
                import sys<br>
                if 'this' in sys.modules:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;%run $this.__file__<br>
                else:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;import this
                </p>
            </div>
        </li>
        <li id="goal2">
            Store the macro
        </li>
        <li id="goal3">
            Open another IPython console -
            <span class="label label-default">!command</span>
            executes system command
        </li>
        <li id="goal4">
            Load <span class="label label-default">%store -r</span>
            and execute the macro
        </li>
    </ul>
</div>
{% end %}

{% block script %}
$("#tip-trigger").on({
    mouseenter: function () {
        $(this).css({
            cursor: "pointer"
        });
    },
    click: function () {
        $('#tip-info').css('display', 'block');
        $(this).css('display', 'none');
    }
});

app.victoryConditions = {
    conditions: [
        {
            condition: [
                app.matchInput('zen$'),
                app.rowContains('Beautiful.*')
            ],
            postCondition: function() {$('#goal1').css('display', 'none')},
            ordered: true
        },
        {
            condition: [
                app.matchInput('%{0,1}store\\s+zen$'),
                app.rowContains("Stored\\s'zen'\\s\\(Macro\\)$")
            ],
            postCondition: function() {$('#goal2').css('display', 'none')},
            ordered: true
        },
        {
            condition: app.matchInput("!ipython$"),
            postCondition: function() {$('#goal3').css('display', 'none')}
        },
        {
            condition: [
                app.matchInput("!ipython$"),
                app.matchInput("%{0,1}store\\s+-r\\s*$"),
                app.matchInput('zen$')
            ],
            postCondition: function() {$('#goal4').css('display', 'none')},
            ordered: true
        }
    ],
    final: function() {
        $('#goals').text(' All goals completed');
    }
}
{% end %}