<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8" />

    <title>ipython tutorial | {% block title %}{% end %}</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
         type="text/css">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"
        type="text/css">
    <link href="/static/css/app.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.ico">

  </head>

  <body>
        <div class="navbar" role="navigation">
            <div class="navbar-inner">
                <div id="row-navbar" class="row">
                    <div class="col-md-5 col-sm-3">
                        <ul class="nav navbar-nav">
                            <li>
                                <img src="/static/img/favicon.ico">
                            </li>
                            <li>
                                <img src="/static/img/logo.png">
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <ul class="nav navbar-nav">
                            <li>
                                {% block navigation %}{% end %}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <ul class="nav navbar-nav">
                            <li>
                                <span id="about" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#about-dialog"> About</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-main">
            <div id="instructions" class="col-md-5">
                {% block instructions %}{% end %}
            </div>
            <div id="terminal" class="col-md-7">
            </div>
        </div>

        <footer class="footer"></footer>

        <div class="modal fade" id="about-dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> About</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Hobby project built on
                            <span class="label label-default">docker</span>,
                            <span class="label label-default">Tornado</span>,
                            <span class="label label-default">websockets</span>,
                            <span class="label label-default">Bootstrap</span>
                            and
                            <span class="label label-default">jQuery</span>
                        </p>
                        <p>
                            Contact author (feedback, donations and of course lucrative job offers) at piotr@79characters.com
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/vendor/term.js"></script>
    <script src="/static/js/app/ascii.js"></script>
    <script src="/static/js/app/app.js"></script>
    <script>
        $(function() {
            var app = new App();
            var url = location.protocol.replace("http", "ws") + '//' + location.host + "/ws/" + {{ level }};

            app.createTerminal();
            app.connectTerminal(url);

            $(window).resize(app.fitTerminal);

            $("#about").on({
                mouseenter: function () {
                    $(this).css({
                        color: "black",
                        cursor: "pointer"
                    });
                },
                mouseleave: function () {
                    $(this).css("color", "white");
                }
            });

            {% block script %}{% end %}
        });
    </script>
  </body>

</html>